USE [master]
GO
/****** Object:  Database [22T1020362_Forum]    Script Date: 07/11/2025 8:45:58 SA ******/
CREATE DATABASE [22T1020362_Forum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'22T1020362_Forum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\22T1020362_Forum.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'22T1020362_Forum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\22T1020362_Forum_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [22T1020362_Forum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [22T1020362_Forum]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBaiViet] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[TaiKhoanTao] [nvarchar](150) NOT NULL,
	[MaTheLoai] [int] NOT NULL,
	[DanhGia] [decimal](5, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
 CONSTRAINT [pk_baiviet] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[TaiKhoanTao] [nvarchar](150) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
	[SoLuotThich] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
 CONSTRAINT [pk_binhluan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGiaBaiViet]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaBaiViet](
	[MaDanhGia] [bigint] IDENTITY(1,1) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[Diem] [decimal](5, 2) NOT NULL,
	[ThoiDiemDanhGia] [datetime] NULL,
 CONSTRAINT [pk_danhgiabaiviet] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuotThichBinhLuan]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotThichBinhLuan](
	[MaLuotThich] [bigint] IDENTITY(1,1) NOT NULL,
	[MaBinhLuan] [bigint] NOT NULL,
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[ThoiDiemThich] [datetime] NULL,
 CONSTRAINT [pk_luotthichbinhluan] PRIMARY KEY CLUSTERED 
(
	[MaLuotThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Quyen] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
 CONSTRAINT [pk_taikhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](200) NOT NULL,
 CONSTRAINT [pk_theloai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

INSERT [dbo].[BaiViet] ([MaBaiViet], [TieuDe], [NoiDung], [Url], [TaiKhoanTao], [MaTheLoai], [DanhGia], [TrangThai], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (1, N'Bài đầu tiên của Admin1', N'Bài đầu tiên của Admin 1, xin chào.', N'', N'admin1', 16, CAST(4.00 AS Decimal(5, 2)), N'Active', CAST(N'2025-10-23 15:06:08.650' AS DateTime), CAST(N'2025-10-26 15:42:22.530' AS DateTime))
INSERT [dbo].[BaiViet] ([MaBaiViet], [TieuDe], [NoiDung], [Url], [TaiKhoanTao], [MaTheLoai], [DanhGia], [TrangThai], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (2, N's', N's', N'', N'admin1', 10, NULL, N'Deleted', CAST(N'2025-10-23 19:09:06.807' AS DateTime), CAST(N'2025-10-24 22:44:57.587' AS DateTime))
INSERT [dbo].[BaiViet] ([MaBaiViet], [TieuDe], [NoiDung], [Url], [TaiKhoanTao], [MaTheLoai], [DanhGia], [TrangThai], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (3, N'Bài viết số 3 của admin1', N'Cooking', N'', N'admin1', 11, NULL, N'Active', CAST(N'2025-10-24 19:37:02.933' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BaiViet] OFF
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [Url], [TaiKhoanTao], [MaBaiViet], [SoLuotThich], [TrangThai], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (1, N'Admin đẹp trai quá! haha', N'Admin đẹp trai quá! haha', N'', N'admin1', 1, 2, N'Active', CAST(N'2025-10-24 11:01:59.393' AS DateTime), CAST(N'2025-10-24 11:04:37.160' AS DateTime))
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [Url], [TaiKhoanTao], [MaBaiViet], [SoLuotThich], [TrangThai], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (2, N'Ngon thí.', N'Ngon thí.', NULL, N'admin1', 1, 2, N'Active', CAST(N'2025-10-26 16:15:01.187' AS DateTime), CAST(N'2025-10-26 16:15:01.190' AS DateTime))
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [Url], [TaiKhoanTao], [MaBaiViet], [SoLuotThich], [TrangThai], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (3, N'Tôi là User1', N'Tôi là User1', N'', N'user1', 1, 0, N'Active', CAST(N'2025-10-27 12:16:39.770' AS DateTime), CAST(N'2025-10-27 12:16:39.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
SET IDENTITY_INSERT [dbo].[DanhGiaBaiViet] ON 

INSERT [dbo].[DanhGiaBaiViet] ([MaDanhGia], [MaBaiViet], [TenDangNhap], [Diem], [ThoiDiemDanhGia]) VALUES (6, 1, N'admin1', CAST(4.00 AS Decimal(5, 2)), CAST(N'2025-10-26 17:28:26.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGiaBaiViet] OFF
SET IDENTITY_INSERT [dbo].[LuotThichBinhLuan] ON 

INSERT [dbo].[LuotThichBinhLuan] ([MaLuotThich], [MaBinhLuan], [TenDangNhap], [ThoiDiemThich]) VALUES (7, 2, N'admin1', CAST(N'2025-10-27 09:36:53.010' AS DateTime))
INSERT [dbo].[LuotThichBinhLuan] ([MaLuotThich], [MaBinhLuan], [TenDangNhap], [ThoiDiemThich]) VALUES (8, 1, N'admin1', CAST(N'2025-10-27 12:14:25.483' AS DateTime))
INSERT [dbo].[LuotThichBinhLuan] ([MaLuotThich], [MaBinhLuan], [TenDangNhap], [ThoiDiemThich]) VALUES (9, 2, N'user1', CAST(N'2025-10-27 12:16:46.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[LuotThichBinhLuan] OFF
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (N'admin1', N'mkadmin', N'Admin', CAST(N'2025-10-18 21:20:44.897' AS DateTime), CAST(N'2025-10-23 19:11:57.537' AS DateTime))
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [ThoiDiemTao], [ThoiDiemCapNhat]) VALUES (N'user1', N'mkuser', N'User', CAST(N'2025-10-18 21:20:44.897' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (11, N'Ẩm thực & Nấu ăn')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (1, N'Công nghệ & Tin học')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (3, N'Đời sống & Xã hội')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [uq_danhgiabaiviet]    Script Date: 07/11/2025 8:45:58 SA ******/
ALTER TABLE [dbo].[DanhGiaBaiViet] ADD  CONSTRAINT [uq_danhgiabaiviet] UNIQUE NONCLUSTERED 
(
	[MaBaiViet] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uq_luotthichbinhluan]    Script Date: 07/11/2025 8:45:58 SA ******/
ALTER TABLE [dbo].[LuotThichBinhLuan] ADD  CONSTRAINT [uq_luotthichbinhluan] UNIQUE NONCLUSTERED 
(
	[MaBinhLuan] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC032AF68CF]    Script Date: 07/11/2025 8:45:58 SA ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uq_theloai]    Script Date: 07/11/2025 8:45:58 SA ******/
ALTER TABLE [dbo].[TheLoai] ADD  CONSTRAINT [uq_theloai] UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (N'Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT ((0)) FOR [SoLuotThich]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (N'Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[DanhGiaBaiViet] ADD  DEFAULT (getdate()) FOR [ThoiDiemDanhGia]
GO
ALTER TABLE [dbo].[LuotThichBinhLuan] ADD  DEFAULT (getdate()) FOR [ThoiDiemThich]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'User') FOR [Quyen]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [fk_baiviet_taikhoan] FOREIGN KEY([TaiKhoanTao])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [fk_baiviet_taikhoan]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [fk_baiviet_theloai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [fk_baiviet_theloai]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_binhluan_baiviet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_binhluan_baiviet]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_binhluan_taikhoan] FOREIGN KEY([TaiKhoanTao])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_binhluan_taikhoan]
GO
ALTER TABLE [dbo].[DanhGiaBaiViet]  WITH CHECK ADD  CONSTRAINT [fk_danhgiabaiviet_baiviet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaBaiViet] CHECK CONSTRAINT [fk_danhgiabaiviet_baiviet]
GO
ALTER TABLE [dbo].[DanhGiaBaiViet]  WITH CHECK ADD  CONSTRAINT [fk_danhgiabaiviet_taikhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaBaiViet] CHECK CONSTRAINT [fk_danhgiabaiviet_taikhoan]
GO
ALTER TABLE [dbo].[LuotThichBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_luotthichbinhluan_binhluan] FOREIGN KEY([MaBinhLuan])
REFERENCES [dbo].[BinhLuan] ([MaBinhLuan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuotThichBinhLuan] CHECK CONSTRAINT [fk_luotthichbinhluan_binhluan]
GO
ALTER TABLE [dbo].[LuotThichBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_luotthichbinhluan_taikhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuotThichBinhLuan] CHECK CONSTRAINT [fk_luotthichbinhluan_taikhoan]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD CHECK  (([DanhGia]>=(0) AND [DanhGia]<=(5)))
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hidden' OR [TrangThai]=N'Deleted' OR [TrangThai]=N'Active'))
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD CHECK  (([SoLuotThich]>=(0)))
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hidden' OR [TrangThai]=N'Deleted' OR [TrangThai]=N'Active'))
GO
ALTER TABLE [dbo].[DanhGiaBaiViet]  WITH CHECK ADD CHECK  (([Diem]>=(0) AND [Diem]<=(5)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([Quyen]=N'User' OR [Quyen]=N'Admin'))
GO
/****** Object:  Trigger [dbo].[trg_BaiViet_SoftDelete]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BaiViet_SoftDelete]
ON [dbo].[BaiViet]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	-- Bình luận
	UPDATE bl
	SET bl.TrangThai = N'Deleted',
		bl.ThoiDiemCapNhat = GETDATE()
	FROM BinhLuan bl
	INNER JOIN DELETED d ON bl.MaBaiViet = d.MaBaiViet

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN BinhLuan bl ON ltbl.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN DELETED d ON bl.MaBaiViet = d.MaBaiViet

	-- Đánh giá
	DELETE dgbv
	FROM DanhGiaBaiViet dgbv
	INNER JOIN DELETED d ON dgbv.MaBaiViet = d.MaBaiViet
	
	-- Xóa mềm bài viết
    UPDATE bv
    SET bv.TrangThai = N'Deleted',
        bv.ThoiDiemCapNhat = GETDATE()
    FROM BaiViet bv
	INNER JOIN DELETED d ON bv.MaBaiViet = d.MaBaiViet
END

GO
/****** Object:  Trigger [dbo].[trg_BaiViet_Update]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BaiViet_Update]
ON [dbo].[BaiViet]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
	-- Ngăn không cho trigger kích hoạt đệ quy
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE bv
    SET ThoiDiemCapNhat = GETDATE()
	FROM BaiViet bv
	INNER JOIN INSERTED i ON bv.MaBaiViet = i.MaBaiViet;
END

GO
/****** Object:  Trigger [dbo].[trg_BinhLuan_SoftDelete]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BinhLuan_SoftDelete]
ON [dbo].[BinhLuan]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN DELETED d ON ltbl.MaBinhLuan = d.MaBinhLuan

	-- Xóa mềm bình luận
	UPDATE BinhLuan
	SET TrangThai = N'Deleted',
		ThoiDiemCapNhat = GETDATE()
	WHERE MaBinhLuan IN (SELECT MaBinhLuan FROM DELETED);
	
END

GO
/****** Object:  Trigger [dbo].[trg_BinhLuan_Update]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BinhLuan_Update]
ON [dbo].[BinhLuan]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
	IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE bl
    SET TieuDe = 
        CASE 
            WHEN LEN(i.NoiDung) <= 50 THEN i.NoiDung
            ELSE LEFT(i.NoiDung, 50) + N'...'
        END,
		ThoiDiemCapNhat = GETDATE()
    FROM BinhLuan bl
    INNER JOIN INSERTED i ON bl.MaBinhLuan = i.MaBinhLuan
    LEFT JOIN DELETED d ON bl.MaBinhLuan = d.MaBinhLuan
    WHERE i.NoiDung != ISNULL(d.NoiDung, '') OR d.NoiDung IS NULL;
END

GO
/****** Object:  Trigger [dbo].[trg_DanhGiaBaiViet_Delete]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DanhGiaBaiViet_Delete]
ON [dbo].[DanhGiaBaiViet]
AFTER DELETE
AS
BEGIN
	SET NOCOUNT ON;
	IF TRIGGER_NESTLEVEL() > 1 RETURN;

	UPDATE bv
	SET bv.DanhGia = ISNULL(t.TrungBinhMoi, NULL)
	FROM BaiViet bv
	LEFT JOIN (
		SELECT MaBaiViet, AVG(CAST(Diem AS DECIMAL(5,2))) AS TrungBinhMoi
		FROM DanhGiaBaiViet
		WHERE MaBaiViet IN (SELECT MaBaiViet FROM DELETED)
		GROUP BY MaBaiViet
	) AS t ON bv.MaBaiViet = t.MaBaiViet
	WHERE bv.MaBaiViet IN (SELECT MaBaiViet FROM DELETED);
END;

GO
/****** Object:  Trigger [dbo].[trg_DanhGiaBaiViet_Insert]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_DanhGiaBaiViet_Insert]
ON [dbo].[DanhGiaBaiViet]
AFTER INSERT
AS
BEGIN
	SET NOCOUNT ON;
	IF TRIGGER_NESTLEVEL() > 1 RETURN;

	-- Tính trung bình cộng điểm đánh giá cho từng bài viết được thêm mới đánh giá
	UPDATE bv
	SET bv.DanhGia = t.TrungBinhMoi
	FROM BaiViet bv
	INNER JOIN (
		SELECT dgbv.MaBaiViet, 
			   AVG(CAST(dgbv.Diem AS DECIMAL(5,2))) AS TrungBinhMoi
		FROM DanhGiaBaiViet dgbv
		INNER JOIN INSERTED i ON dgbv.MaBaiViet = i.MaBaiViet
		GROUP BY dgbv.MaBaiViet
	) AS t ON bv.MaBaiViet = t.MaBaiViet;
END;

GO
/****** Object:  Trigger [dbo].[trg_LuotThichBinhLuan_Delete]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_LuotThichBinhLuan_Delete]
ON [dbo].[LuotThichBinhLuan]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;
    IF TRIGGER_NESTLEVEL() > 1 RETURN;

    -- Cập nhật số lượt thích trong bảng BinhLuan sau khi xóa
    UPDATE bl
    SET bl.SoLuotThich = 
		CASE 
			WHEN bl.SoLuotThich - t.SoLuongXoa < 0 THEN 0
			ELSE bl.SoLuotThich - t.SoLuongXoa
		END
    FROM BinhLuan bl
    INNER JOIN (
        SELECT MaBinhLuan, COUNT(*) AS SoLuongXoa
        FROM DELETED
        GROUP BY MaBinhLuan
    ) AS t ON bl.MaBinhLuan = t.MaBinhLuan
END

GO
/****** Object:  Trigger [dbo].[trg_LuotThichBinhLuan_Insert]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_LuotThichBinhLuan_Insert]
ON [dbo].[LuotThichBinhLuan]
AFTER INSERT
AS
BEGIN
	SET NOCOUNT ON;
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE bl
    SET bl.SoLuotThich = bl.SoLuotThich + t.SoLuongMoi
    FROM BinhLuan bl
    INNER JOIN (
        SELECT MaBinhLuan, COUNT(*) AS SoLuongMoi
        FROM INSERTED
        WHERE MaBinhLuan IS NOT NULL
        GROUP BY MaBinhLuan
    ) AS t ON bl.MaBinhLuan = t.MaBinhLuan;
END

GO
/****** Object:  Trigger [dbo].[trg_TaiKhoan_SoftDelete]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TaiKhoan_SoftDelete]
ON [dbo].[TaiKhoan]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	-- Bài viết
	UPDATE bv
	SET bv.TrangThai = N'Deleted',
		bv.ThoiDiemCapNhat = GETDATE()
	FROM BaiViet bv
	INNER JOIN DELETED d ON bv.TaiKhoanTao = d.TenDangNhap
	
	-- Bình luận
	UPDATE bl
	SET bl.TrangThai = N'Deleted',
		bl.ThoiDiemCapNhat = GETDATE()
	FROM BinhLuan bl
	INNER JOIN DELETED d ON bl.TaiKhoanTao = d.TenDangNhap

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN DELETED d ON ltbl.TenDangNhap = d.TenDangNhap

	-- Đánh giá
	DELETE dgbv
	FROM DanhGiaBaiViet dgbv
	INNER JOIN DELETED d ON dgbv.TenDangNhap = d.TenDangNhap
	
	-- Xóa tài khoản
	DELETE tk
	FROM TaiKhoan tk
	INNER JOIN DELETED d ON tk.TenDangNhap = d.TenDangNhap
END

GO
/****** Object:  Trigger [dbo].[trg_TaiKhoan_Update]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TaiKhoan_Update]
ON [dbo].[TaiKhoan]
AFTER UPDATE
AS
BEGIN
	SET NOCOUNT ON;
	-- Ngăn không cho trigger kích hoạt đệ quy
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE tk
    SET ThoiDiemCapNhat = GETDATE()
    FROM TaiKhoan tk
    INNER JOIN INSERTED i ON tk.TenDangNhap = i.TenDangNhap;
END

GO
/****** Object:  Trigger [dbo].[trg_TheLoai_SoftDelete]    Script Date: 07/11/2025 8:45:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TheLoai_SoftDelete]
ON [dbo].[TheLoai]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	-- Bài viết
	UPDATE bv
	SET bv.TrangThai = N'Deleted',
		bv.ThoiDiemCapNhat = GETDATE()
	FROM BaiViet bv
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai

	-- Bình luận
	UPDATE bl
	SET bl.TrangThai = N'Deleted',
		bl.ThoiDiemCapNhat = GETDATE()
	FROM BinhLuan bl
	INNER JOIN BaiViet bv ON bl.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN BinhLuan bl ON ltbl.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN BaiViet bv ON bl.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai

	-- Đánh giá
	DELETE dgbv
	FROM DanhGiaBaiViet dgbv
	INNER JOIN BaiViet bv ON dgbv.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai
	
	-- Xóa thể loại
	DELETE tl
	FROM TheLoai tl
	INNER JOIN DELETED d ON tl.MaTheLoai = d.MaTheLoai
END

GO
USE [master]
GO
