USE [master]
GO
/****** Object:  Database [22T1020362_Forum]    Script Date: 24/12/2025 10:48:39 SA ******/
CREATE DATABASE [22T1020362_Forum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'22T1020362_Forum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\22T1020362_Forum.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'22T1020362_Forum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\22T1020362_Forum_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [22T1020362_Forum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [22T1020362_Forum]
GO
/****** Object:  Table [dbo].[ApiKey]    Script Date: 24/12/2025 10:48:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKey](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KeyName] [nvarchar](255) NOT NULL,
 CONSTRAINT [pk_ApiKey] PRIMARY KEY CLUSTERED 
(
	[KeyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 24/12/2025 10:48:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBaiViet] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[TaiKhoanTao] [nvarchar](150) NOT NULL,
	[MaTheLoai] [int] NOT NULL,
	[DanhGia] [decimal](5, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
 CONSTRAINT [pk_baiviet] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiVietEmbedding]    Script Date: 24/12/2025 10:48:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiVietEmbedding](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
	[Embedding] [nvarchar](max) NOT NULL,
	[ThoiDiemTao] [datetime] NULL,
 CONSTRAINT [pk_baivietembedding] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 24/12/2025 10:48:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[TaiKhoanTao] [nvarchar](150) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
	[SoLuotThich] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
 CONSTRAINT [pk_binhluan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuanEmbedding]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuanEmbedding](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaBinhLuan] [bigint] NOT NULL,
	[Embedding] [nvarchar](max) NOT NULL,
	[ThoiDiemTao] [datetime] NULL,
 CONSTRAINT [pk_binhluanembedding] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGiaBaiViet]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaBaiViet](
	[MaDanhGia] [bigint] IDENTITY(1,1) NOT NULL,
	[MaBaiViet] [bigint] NOT NULL,
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[Diem] [decimal](5, 2) NOT NULL,
	[ThoiDiemDanhGia] [datetime] NULL,
 CONSTRAINT [pk_danhgiabaiviet] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_danhgiabaiviet] UNIQUE NONCLUSTERED 
(
	[MaBaiViet] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuotThichBinhLuan]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotThichBinhLuan](
	[MaLuotThich] [bigint] IDENTITY(1,1) NOT NULL,
	[MaBinhLuan] [bigint] NOT NULL,
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[ThoiDiemThich] [datetime] NULL,
 CONSTRAINT [pk_luotthichbinhluan] PRIMARY KEY CLUSTERED 
(
	[MaLuotThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_luotthichbinhluan] UNIQUE NONCLUSTERED 
(
	[MaBinhLuan] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Quyen] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [pk_taikhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](200) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThoiDiemTao] [datetime] NULL,
	[ThoiDiemCapNhat] [datetime] NULL,
 CONSTRAINT [pk_theloai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_theloai] UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (N'Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[BaiVietEmbedding] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT ((0)) FOR [SoLuotThich]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (N'Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[BinhLuanEmbedding] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[DanhGiaBaiViet] ADD  DEFAULT (getdate()) FOR [ThoiDiemDanhGia]
GO
ALTER TABLE [dbo].[LuotThichBinhLuan] ADD  DEFAULT (getdate()) FOR [ThoiDiemThich]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'User') FOR [Quyen]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[TheLoai] ADD  DEFAULT (N'Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TheLoai] ADD  DEFAULT (getdate()) FOR [ThoiDiemTao]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [fk_baiviet_taikhoan] FOREIGN KEY([TaiKhoanTao])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [fk_baiviet_taikhoan]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [fk_baiviet_theloai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [fk_baiviet_theloai]
GO
ALTER TABLE [dbo].[BaiVietEmbedding]  WITH CHECK ADD  CONSTRAINT [fk_baivietembedding_baiviet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[BaiVietEmbedding] CHECK CONSTRAINT [fk_baivietembedding_baiviet]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_binhluan_baiviet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_binhluan_baiviet]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_binhluan_taikhoan] FOREIGN KEY([TaiKhoanTao])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_binhluan_taikhoan]
GO
ALTER TABLE [dbo].[BinhLuanEmbedding]  WITH CHECK ADD  CONSTRAINT [fk_binhluanembedding_binhluan] FOREIGN KEY([MaBinhLuan])
REFERENCES [dbo].[BinhLuan] ([MaBinhLuan])
GO
ALTER TABLE [dbo].[BinhLuanEmbedding] CHECK CONSTRAINT [fk_binhluanembedding_binhluan]
GO
ALTER TABLE [dbo].[DanhGiaBaiViet]  WITH CHECK ADD  CONSTRAINT [fk_danhgiabaiviet_baiviet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[DanhGiaBaiViet] CHECK CONSTRAINT [fk_danhgiabaiviet_baiviet]
GO
ALTER TABLE [dbo].[DanhGiaBaiViet]  WITH CHECK ADD  CONSTRAINT [fk_danhgiabaiviet_taikhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[DanhGiaBaiViet] CHECK CONSTRAINT [fk_danhgiabaiviet_taikhoan]
GO
ALTER TABLE [dbo].[LuotThichBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_luotthichbinhluan_binhluan] FOREIGN KEY([MaBinhLuan])
REFERENCES [dbo].[BinhLuan] ([MaBinhLuan])
GO
ALTER TABLE [dbo].[LuotThichBinhLuan] CHECK CONSTRAINT [fk_luotthichbinhluan_binhluan]
GO
ALTER TABLE [dbo].[LuotThichBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_luotthichbinhluan_taikhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[LuotThichBinhLuan] CHECK CONSTRAINT [fk_luotthichbinhluan_taikhoan]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD CHECK  (([DanhGia]>=(0) AND [DanhGia]<=(5)))
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hidden' OR [TrangThai]=N'Deleted' OR [TrangThai]=N'Active'))
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD CHECK  (([SoLuotThich]>=(0)))
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hidden' OR [TrangThai]=N'Deleted' OR [TrangThai]=N'Active'))
GO
ALTER TABLE [dbo].[DanhGiaBaiViet]  WITH CHECK ADD CHECK  (([Diem]>=(0) AND [Diem]<=(5)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CHK_Email_Format] CHECK  (([Email] IS NULL OR [Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CHK_Email_Format]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([Quyen]=N'User' OR [Quyen]=N'Admin'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hidden' OR [TrangThai]=N'Deleted' OR [TrangThai]=N'Active'))
GO
ALTER TABLE [dbo].[TheLoai]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hidden' OR [TrangThai]=N'Deleted' OR [TrangThai]=N'Active'))
GO
/****** Object:  Trigger [dbo].[trg_BaiViet_SoftDelete]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BaiViet_SoftDelete]
ON [dbo].[BaiViet]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;

	-- Xóa embedding bài viết
	DELETE bve
	FROM BaiVietEmbedding bve
	INNER JOIN DELETED d ON bve.MaBaiViet = d.MaBaiViet

	-- Xóa embedding bình luận
	DELETE ble
	FROM BinhLuanEmbedding ble
	INNER JOIN BinhLuan bl ON ble.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN DELETED d ON bl.MaBaiViet = d.MaBaiViet

	-- Bình luận
	UPDATE bl
	SET bl.TrangThai = N'Deleted',
		bl.ThoiDiemCapNhat = GETDATE()
	FROM BinhLuan bl
	INNER JOIN DELETED d ON bl.MaBaiViet = d.MaBaiViet

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN BinhLuan bl ON ltbl.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN DELETED d ON bl.MaBaiViet = d.MaBaiViet

	-- Đánh giá
	DELETE dgbv
	FROM DanhGiaBaiViet dgbv
	INNER JOIN DELETED d ON dgbv.MaBaiViet = d.MaBaiViet
	
	-- Xóa mềm bài viết
    UPDATE bv
    SET bv.TrangThai = N'Deleted',
        bv.ThoiDiemCapNhat = GETDATE()
    FROM BaiViet bv
	INNER JOIN DELETED d ON bv.MaBaiViet = d.MaBaiViet
END

GO
/****** Object:  Trigger [dbo].[trg_BaiViet_Update]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BaiViet_Update]
ON [dbo].[BaiViet]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
	-- Ngăn không cho trigger kích hoạt đệ quy
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE bv
    SET ThoiDiemCapNhat = GETDATE()
	FROM BaiViet bv
	INNER JOIN INSERTED i ON bv.MaBaiViet = i.MaBaiViet;
END

GO
/****** Object:  Trigger [dbo].[trg_BinhLuan_SoftDelete]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BinhLuan_SoftDelete]
ON [dbo].[BinhLuan]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;

	-- Xóa embedding bình luận
	DELETE ble
	FROM BinhLuanEmbedding ble
	INNER JOIN DELETED d ON ble.MaBinhLuan = d.MaBinhLuan

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN DELETED d ON ltbl.MaBinhLuan = d.MaBinhLuan

	-- Xóa mềm bình luận
	UPDATE BinhLuan
	SET TrangThai = N'Deleted',
		ThoiDiemCapNhat = GETDATE()
	WHERE MaBinhLuan IN (SELECT MaBinhLuan FROM DELETED);
	
END

GO
/****** Object:  Trigger [dbo].[trg_BinhLuan_Update]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_BinhLuan_Update]
ON [dbo].[BinhLuan]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    
    -- Cập nhật TieuDe cho cả INSERT và UPDATE
    UPDATE bl
    SET TieuDe = 
        CASE 
            WHEN LEN(i.NoiDung) <= 50 THEN i.NoiDung
            ELSE LEFT(i.NoiDung, 50) + N'...'
        END,
        -- Chỉ cập nhật ThoiDiemCapNhat khi UPDATE (EXISTS DELETED)
        ThoiDiemCapNhat = CASE 
            WHEN EXISTS (SELECT 1 FROM DELETED d WHERE d.MaBinhLuan = i.MaBinhLuan)
            THEN GETDATE()
            ELSE bl.ThoiDiemCapNhat  -- Giữ nguyên giá trị cũ khi INSERT
        END
    FROM BinhLuan bl
    INNER JOIN INSERTED i ON bl.MaBinhLuan = i.MaBinhLuan
    LEFT JOIN DELETED d ON bl.MaBinhLuan = d.MaBinhLuan
    WHERE i.NoiDung != ISNULL(d.NoiDung, '') OR d.NoiDung IS NULL;
END

GO
/****** Object:  Trigger [dbo].[trg_DanhGiaBaiViet_Delete]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DanhGiaBaiViet_Delete]
ON [dbo].[DanhGiaBaiViet]
AFTER DELETE
AS
BEGIN
	SET NOCOUNT ON;
    UPDATE bv SET DanhGia = (
        SELECT AVG(CAST(Diem AS DECIMAL(5,2)))
        FROM DanhGiaBaiViet WHERE MaBaiViet = bv.MaBaiViet
    )
    FROM BaiViet bv
    WHERE MaBaiViet IN (SELECT MaBaiViet FROM DELETED);

    -- Nếu không còn đánh giá → NULL
    UPDATE BaiViet SET DanhGia = NULL
    WHERE MaBaiViet IN (SELECT MaBaiViet FROM DELETED)
      AND NOT EXISTS (SELECT 1 FROM DanhGiaBaiViet WHERE MaBaiViet = BaiViet.MaBaiViet);
END;

GO
/****** Object:  Trigger [dbo].[trg_DanhGiaBaiViet_Insert]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_DanhGiaBaiViet_Insert]
ON [dbo].[DanhGiaBaiViet]
AFTER INSERT
AS
BEGIN
	SET NOCOUNT ON;
    UPDATE bv SET DanhGia = (
        SELECT AVG(CAST(Diem AS DECIMAL(5,2)))
        FROM DanhGiaBaiViet WHERE MaBaiViet = i.MaBaiViet
    )
    FROM BaiViet bv
    INNER JOIN INSERTED i ON bv.MaBaiViet = i.MaBaiViet;
END;

GO
/****** Object:  Trigger [dbo].[trg_LuotThichBinhLuan_Delete]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_LuotThichBinhLuan_Delete]
ON [dbo].[LuotThichBinhLuan]
AFTER DELETE
AS
BEGIN
	SET NOCOUNT ON;
    UPDATE bl SET SoLuotThich = CASE WHEN SoLuotThich > 0 THEN SoLuotThich - 1 ELSE 0 END
    FROM BinhLuan bl
    INNER JOIN DELETED d ON bl.MaBinhLuan = d.MaBinhLuan;
END

GO
/****** Object:  Trigger [dbo].[trg_LuotThichBinhLuan_Insert]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_LuotThichBinhLuan_Insert]
ON [dbo].[LuotThichBinhLuan]
AFTER INSERT
AS
BEGIN
	SET NOCOUNT ON;
    UPDATE bl SET SoLuotThich = SoLuotThich + 1
    FROM BinhLuan bl
    INNER JOIN INSERTED i ON bl.MaBinhLuan = i.MaBinhLuan;
END

GO
/****** Object:  Trigger [dbo].[trg_TaiKhoan_SoftDelete]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TaiKhoan_SoftDelete]
ON [dbo].[TaiKhoan]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;

	-- Xóa embedding bài viết
	DELETE bve
	FROM BaiVietEmbedding bve
	INNER JOIN BaiViet bv ON bve.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.TaiKhoanTao = d.TenDangNhap;


	-- Xóa embedding bình luận
	DELETE ble
	FROM BinhLuanEmbedding ble
	INNER JOIN BinhLuan bl ON ble.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN DELETED d ON bl.TaiKhoanTao = d.TenDangNhap;


	-- Bài viết
	UPDATE bv
	SET bv.TrangThai = N'Deleted',
		bv.ThoiDiemCapNhat = GETDATE()
	FROM BaiViet bv
	INNER JOIN DELETED d ON bv.TaiKhoanTao = d.TenDangNhap
	
	-- Bình luận
	UPDATE bl
	SET bl.TrangThai = N'Deleted',
		bl.ThoiDiemCapNhat = GETDATE()
	FROM BinhLuan bl
	INNER JOIN DELETED d ON bl.TaiKhoanTao = d.TenDangNhap

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN DELETED d ON ltbl.TenDangNhap = d.TenDangNhap

	-- Đánh giá
	DELETE dgbv
	FROM DanhGiaBaiViet dgbv
	INNER JOIN DELETED d ON dgbv.TenDangNhap = d.TenDangNhap
	
	-- Tài khoản
	UPDATE tk
	SET tk.TrangThai = N'Deleted',
		tk.ThoiDiemCapNhat = GETDATE()
	FROM TaiKhoan tk
	INNER JOIN DELETED d ON tk.TenDangNhap = d.TenDangNhap
END

GO
/****** Object:  Trigger [dbo].[trg_TaiKhoan_Update]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TaiKhoan_Update]
ON [dbo].[TaiKhoan]
AFTER UPDATE
AS
BEGIN
	SET NOCOUNT ON;
	-- Ngăn không cho trigger kích hoạt đệ quy
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE tk
    SET ThoiDiemCapNhat = GETDATE()
    FROM TaiKhoan tk
    INNER JOIN INSERTED i ON tk.TenDangNhap = i.TenDangNhap;
END

GO
/****** Object:  Trigger [dbo].[trg_TheLoai_SoftDelete]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TheLoai_SoftDelete]
ON [dbo].[TheLoai]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;

	-- Xóa embedding bài viết
	DELETE bve
	FROM BaiVietEmbedding bve
	INNER JOIN BaiViet bv ON bve.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai;


	-- Xóa embedding bình luận
	DELETE ble
	FROM BinhLuanEmbedding ble
	INNER JOIN BinhLuan bl ON ble.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN BaiViet bv ON bl.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai;

	-- Bài viết
	UPDATE bv
	SET bv.TrangThai = N'Deleted',
		bv.ThoiDiemCapNhat = GETDATE()
	FROM BaiViet bv
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai

	-- Bình luận
	UPDATE bl
	SET bl.TrangThai = N'Deleted',
		bl.ThoiDiemCapNhat = GETDATE()
	FROM BinhLuan bl
	INNER JOIN BaiViet bv ON bl.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai

	-- Lượt thích
	DELETE ltbl
	FROM LuotThichBinhLuan ltbl
	INNER JOIN BinhLuan bl ON ltbl.MaBinhLuan = bl.MaBinhLuan
	INNER JOIN BaiViet bv ON bl.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai

	-- Đánh giá
	DELETE dgbv
	FROM DanhGiaBaiViet dgbv
	INNER JOIN BaiViet bv ON dgbv.MaBaiViet = bv.MaBaiViet
	INNER JOIN DELETED d ON bv.MaTheLoai = d.MaTheLoai
	
	-- Thể loại
	UPDATE tl
	SET tl.TrangThai = N'Deleted',
		tl.ThoiDiemCapNhat = GETDATE()
	FROM TheLoai tl
	INNER JOIN DELETED d ON tl.MaTheLoai = d.MaTheLoai
END

GO
/****** Object:  Trigger [dbo].[trg_TheLoai_Update]    Script Date: 24/12/2025 10:48:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TheLoai_Update]
ON [dbo].[TheLoai]
AFTER UPDATE
AS
BEGIN
	SET NOCOUNT ON;
	-- Ngăn không cho trigger kích hoạt đệ quy
    IF TRIGGER_NESTLEVEL() > 1 RETURN;
    UPDATE tl
    SET ThoiDiemCapNhat = GETDATE()
    FROM TheLoai tl
    INNER JOIN INSERTED i ON tl.MaTheLoai = i.MaTheLoai;
END

GO
USE [master]
GO
